<main id="main_content" class="max-w-lg min-w-fit text-lg text-slate-200">
  <section id="sobre_mi" aria-label="Sobre mi">
    <div class="">
      <p class="">
        Con una sólida base en el desarrollo de software, me he especializado en
        Java, Spring Boot y Angular con conocimiento en metodologías ágiles como
        Scrum y Scrumban y herramientas de gestión de proyectos como JIRA o
        Trello. Poseo una amplia experiencia en el manejo de tecnologías de
        control de versiones con Git (GitHub y GitLab), también Maven y SQL
        Developer.
      </p>

      <p class="">
        Además de mi enfoque en el desarrollo técnico, asumo la responsabilidad
        de capacitar a los nuevos miembros del equipo (y/o gente de prácticas),
        proporcionando una orientación detallada sobre nuestras prácticas de
        trabajo y tecnologías específicas.
      </p>

      <p class="">
        Cuando no estoy programando, disfruto de mi tiempo libre practicando
        diversos deportes. Mi verdadera pasión reside en aquellos deportes en
        los que formo parte de un equipo, como el fútbol o voleibol 🏐. Además,
        últimamente he descubierto un interés por el ajedrez ♟️, que me brinda
        la oportunidad de conectar con mis amigos de un modo diferente.
      </p>
    </div>
  </section>

  <section class="">
    <section id="experiencia" class="mt-8" aria-label="Experiencia">
      <h1 class="">Experiencia</h1>

      <div class="">
        <h3 class="">
          <a
            class=""
            href="https://www.hiberus.com/"
            target="_blank"
            rel="noreferrer"
          >
            Full Stack Developer · Hiberus
          </a>
        </h3>
        <p>Feb 2022 - Presente</p>
        <p>La Rioja, España</p>
        <p>Descripción del trabajo</p>
        <p>
          <span class="">Skills:</span>
          <span class="">Java</span>
          <span class="">Spring Boot</span>
          <span class="">Angular</span>
          <span class="">TypeScript</span>
          <span class="">Scrum</span>
          <span class="">Oracle Database </span>
        </p>
      </div>

      <div class="">
        <h3 class="">Monitor de VR · Climbing Planet</h3>
        <p>Ago 2019 - Oct 2019 · 3 meses</p>
        <p>La Rioja, España</p>
        <p>Descripción del trabajo</p>
        <p>
          <span class="">Skills:</span>
          Realidad virtual · Trabajar con niños
        </p>
      </div>
    </section>

    <section id="proyectos" class="" aria-label="Proyectos">
      <h1 class="">Proyectos</h1>

      <div class="">
        <h3 class="">Proyecto 1</h3>
        <p>Lorem ipsum</p>
      </div>

      <div class="">
        <p class="">Proyecto 2</p>
        <p>Lorem ipsum</p>
      </div>
    </section>

    <section id="titulos" class="" aria-label="Títulos y Certificados">
      <h1 class="">Títulos & Certificados</h1>

      <div class="">
        <p>B2 First Certificate · Cambridge</p>
        <p>La Rioja, España</p>
        <p>Jul 2018</p>
      </div>
    </section>
  </section>
</main>
