<main id="main_content" class="py-2 max-w-xl min-w-fit text-lg text-slate-200">
  <section id="sobre_mi" aria-label="Sobre mi">
    <p class="mb-6">
      Tengo una sólida base en el desarrollo de software en <span class="orange-java">Java</span> | 
      <span class="green-springboot">Spring Boot</span>, <span class="red-angular">Angular</span>
      y un profundo conocimiento en metodologías ágiles como Scrum y Scrumban, también 
      poseo una amplia experiencia en el manejo de tecnologías como control de versiones 
      con Git (GitHub y GitLab), Maven, SQL Developer, y herramientas de gestión de 
      proyectos como JIRA.
    </p>

    <p class="mb-6">
      Además de mi enfoque en el desarrollo técnico, asumo la responsabilidad
      de capacitar a los nuevos miembros del equipo (y/o gente de prácticas),
      proporcionando una orientación detallada sobre nuestras prácticas de
      trabajo y tecnologías específicas.
    </p>

    <p class="mb-6">
      Cuando no estoy programando, disfruto de mi tiempo libre practicando
      diversos deportes. Mi verdadera pasión reside en aquellos deportes en
      los que formo parte de un equipo, como el fútbol o voleibol 🏐. Además,
      últimamente he descubierto un interés por el ajedrez ♟️, que me brinda
      la oportunidad de conectar con mis amigos de un modo diferente.
    </p>
  </section>

  <section id="experiencia" class="mt-16 mb-8 difuminar-cajita" aria-label="Experiencia">
    <h1 class="font-bold text-2xl mb-6">Experiencia</h1>

    <div class="mb-4 cajita duration-200 rounded-xl">
      <h3 class="font-bold">
        <a
          class=""
          href="https://www.hiberus.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          Full Stack Developer · Hiberus
        </a>
      </h3>
      <p>Dic 2022 - Presente</p>
      <p>La Rioja, España</p>
      <div>
        <p>Team Leader</p>
        <ul>
          <li>Liderar un equipo de 6-7 personas.</li>
          <li>Toma de requisitos y trato con cliente</li>
          <li>Revisión de código de cada desarrollador teniendo en cuenta el código limpio.</li>
          <li>Orientación y revisión de proyectos académicos como tutor de empresa.</li>
        </ul>
      </div>
      <p>
        <span class="mr-2">Habilidades principales:</span>
      </p>
    </div>

    <div class="mb-4 cajita duration-200 rounded-xl">
      <h3 class="font-bold">
        <a
          class=""
          href="https://www.hiberus.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          Full Stack Developer · Hiberus
        </a>
      </h3>
      <p>Feb 2022 - Dic 2023</p>
      <p>La Rioja, España</p>
      <div>
        <ul>
          <li>Desarrollo de múltiples tareas en proyecto. Desde funcionalidades básicas CRUD hasta puesta en 
            producción de aplicaciones.</li>
          <li>Formación de becarios universitarios y de 1º y 2º de grado superior.</li>
        </ul>
      </div>
      <p>
        <span class="mr-2">Habilidades principales:</span>
        <span class="mr-2">Java</span>
        <span class="mr-2">Spring Boot</span>
        <span class="mr-2">Angular</span>
        <span class="mr-2">TypeScript</span>
        <span class="mr-2">Scrum</span>
      </p>
    </div>

    <a href="assets/docs/Marcelo_Carro_CV_2024.pdf" target="_blank"
      class="text-lg font-bold text-white underline-offset-4 decoration-black hover:underline duration-200 ">
      Ver curriculum completo
    </a>
  </section>

  <section id="proyectos" class="mb-8" aria-label="Proyectos">
    <h1 class="font-bold text-2xl mb-6 cajita">Proyectos</h1>
    <small><a href="">Ver más</a></small>

    <div class="mb-4  duration-200 rounded-xl">
      <h3 class="font-bold">Proyecto 1</h3>
      <p>Lorem ipsum</p>
    </div>
  </section>

  <section id="posts_relevantes" class="mb-8" aria-label="Publicaciones relevantes">
    <h1 class="font-bold text-2xl mb-6">Posts relevantes</h1>

    <div class="mb-4 cajita duration-200 rounded-xl">
      <h3 class="font-bold">Titulo</h3>
      <p>Post...</p>
      <p hidden>Idea de BD con Notion para mantenerlo actualizado</p>
    </div>
  </section>
</main>
