<main id="main_content" class="py-2 px-8 max-w-2xl min-w-fit text-lg text-slate-200">
  <section id="sobre_mi" aria-label="Sobre mi">
    <p class="mb-6">
      Con una sólida base en el desarrollo de software, me he especializado en
      Java, Spring Boot y Angular con conocimiento en metodologías ágiles como
      Scrum y Scrumban y herramientas de gestión de proyectos como JIRA o
      Trello. Poseo una amplia experiencia en el manejo de tecnologías de
      control de versiones con Git (GitHub y GitLab), también Maven y SQL
      Developer.
    </p>

    <p class="mb-6">
      Además de mi enfoque en el desarrollo técnico, asumo la responsabilidad
      de capacitar a los nuevos miembros del equipo (y/o gente de prácticas),
      proporcionando una orientación detallada sobre nuestras prácticas de
      trabajo y tecnologías específicas.
    </p>

    <p class="mb-6">
      Cuando no estoy programando, disfruto de mi tiempo libre practicando
      diversos deportes. Mi verdadera pasión reside en aquellos deportes en
      los que formo parte de un equipo, como el fútbol o voleibol 🏐. Además,
      últimamente he descubierto un interés por el ajedrez ♟️, que me brinda
      la oportunidad de conectar con mis amigos de un modo diferente.
    </p>
  </section>

  <section id="experiencia" class="mt-16 mb-8" aria-label="Experiencia">
    <h1 class="font-bold text-2xl mb-6">Experiencia</h1>

    <div class="mb-4 hover:bg-slate-600 duration-200 rounded-xl">
      <h3 class="font-bold">
        <a
          class=""
          href="https://www.hiberus.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          Full Stack Developer · Hiberus
        </a>
      </h3>
      <p>Feb 2022 - Presente</p>
      <p>La Rioja, España</p>
      <p>Descripción del trabajo</p>
      <p>
        <span class="mr-2">Skills:</span>
        <span class="mr-2">Java</span>
        <span class="mr-2">Spring Boot</span>
        <span class="mr-2">Angular</span>
        <span class="mr-2">TypeScript</span>
        <span class="mr-2">Scrum</span>
        <span class="mr-2">Oracle Database </span>
      </p>
    </div>

    <div class="mb-4 hover:bg-slate-600 duration-200 rounded-xl">
      <h3 class="font-bold">Monitor de VR · Climbing Planet</h3>
      <p>Ago 2019 - Oct 2019 · 3 meses</p>
      <p>La Rioja, España</p>
      <p>Descripción del trabajo</p>
      <p>
        <span class="">Skills:</span>
        Realidad virtual · Trabajar con niños
      </p>
    </div>

    <a href="assets/docs/cv-placeholder.txt" target="_blank"
      class="text-lg font-bold text-white underline-offset-4 decoration-black hover:underline duration-200 ">
      Ver curriculum completo
    </a>
  </section>

  <section id="proyectos" class="mb-8" aria-label="Proyectos">
    <h1 class="font-bold text-2xl mb-6">Proyectos</h1>

    <div class="mb-4 hover:bg-slate-600 duration-200 rounded-xl">
      <h3 class="font-bold">Proyecto 1</h3>
      <p>Lorem ipsum</p>
    </div>

    <div class="mb-4 hover:bg-slate-600 duration-200 rounded-xl">
      <p class="font-bold">Proyecto 2</p>
      <p>Lorem ipsum</p>
    </div>
  </section>

  <section id="posts_relevantes" class="mb-8" aria-label="Publicaciones relevantes">
    <h1 class="font-bold text-2xl mb-6">Posts relevantes</h1>

    <div class="mb-4 hover:bg-slate-600 duration-200 rounded-xl">
      <h3 class="font-bold">Titulo</h3>
      <p>Post</p>
    </div>
  </section>
</main>
