:host {
  display: block;
}

.orange-java {
  color: #f8981d;
}

.green-springboot {
  color: #6db33f;
}

.red-angular {
  color: #dd0031;
}

.difuminar-cajita:not(:hover) .cajita {
  opacity: 1;
}

.cajita {
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.cajita:hover {
  opacity: 1; 
  background: #6db33f;
}

.cajita:not(:hover) {
  opacity: 0.5; 
}