<header class="lg:sticky lg:top-0 min-h-[50%] p-4 flex flex-col gap-8 text-lg">
  <section>
    <img class="w-64 rounded-full shadow-lg transition ease-in-out hover:scale-110 duration-600" 
      src="assets/images/foto_perfil.webp" alt="Foto de perfil" />
    <h1 class="font-bold mt-2 text-3xl text-slate-400 transition ease-in-out duration-200 hover:text-white">
      <a href="/">Marcelo Carro Pacheco</a>
    </h1>
    <h2 class="text-slate-300 text-xl">Desarrollador Web Full Stack Java & Angular</h2>
  </section>

  <section class="flex mb-2">
    <a class="mr-4 hover:scale-125 duration-300" href="https://www.linkedin.com/in/marcelo-c-658505210/" 
      target="_blank" rel="noreferrer noopener" aria-label="LinkedIn (Se abre en una nueva pestaña)">
      <svg-linkedin></svg-linkedin>
    </a>

    <a class="mr-4 hover:scale-125 duration-300" href="https://github.com/macarrp" 
      target="_blank" rel="noreferrer noopener" aria-label="GitHub (Se abre en una nueva pestaña)">
      <svg-github></svg-github>
    </a>

    <a class="mr-4 hover:scale-125 duration-300" href="" 
      target="_blank" rel="noreferrer noopener" aria-label="Twitter (Se abre en una nueva pestaña)">
      <svg-twitter></svg-twitter>
    </a>
  </section>
  
  <nav class="md:block hidden text-slate-200">
    <ul>
      <li>
        <a class="mb-5 flex items-center w-fit hover:text-white hover:font-bold duration-100 active" href="#sobre_mi">
          <span class="line"></span>
          <span>Sobre mi</span>
        </a>
      </li>
      <li>
        <a class="mb-5 flex items-center w-fit hover:text-white hover:font-bold duration-100" href="#experiencia">
          <span class="line"></span>
          <span>Experiencia</span>
        </a>
      </li>
      <li>
        <a class="mb-5 flex items-center w-fit hover:text-white hover:font-bold duration-100" href="#proyectos">
          <span class="line"></span>
          <span>Proyectos</span>
        </a>
      </li>
    </ul>
  </nav>  
</header>